.Navbar {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    // border: 2px solid red;
    font-family: "Poppins";
}

.Navbar__logo {
    font-size: 1.5rem;
    font-weight: bolder;
}

.Navbar__navbar {
    display: flex;
    // border: 2px solid black;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;

}

.Navbar__navItemsSection {
    display: flex;
    font-size: 0.80rem;
    text-transform: uppercase;
    font-weight: 700;
}

.Navbar__navButton {
    margin: 0 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        color: #8490ff;
    }
}

.Navbar__downloadResume {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    border: 1px solid #8490ff;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    color: #8490ff;
    transition: 0.5s;

    &:hover {
        background: #8490ff;
        color: white;
        cursor: pointer;
    }
}