.Platforms {
  padding: 5% 10%;
}

.Platforms__cardArray {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 0;
    // background: ;
}

.Platforms__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin: 1rem 2rem;
    // border: 2px solid red;
    width: 30%;
    text-decoration: none;
    color: black;
    
    img {
        width: 15rem;
    }
    h3 {
        margin: 3rem 0 0;
    }
    p {
        margin: 0;
    }
    transition: 0.3s;
    &:hover {
        background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
        transform: scale(1.05);
    }
}

@media screen and (max-width: 600px) {
    .Platforms {
        padding: 5rem 0;
        margin: 20% 5%;
    }

    .Platforms__cardArray {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Platforms__card {
        padding: 2rem 1rem;
        width: 80%;
        // border: 2px solid red;
        height: 25rem;
        margin: 0;

        img {
            width: 10rem;
        }
    }
}
