.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 5% 10%;
    color: white;

    h3 {
        font-weight: bold;
        margin: 2rem 0;
    }

    p {
        margin: 2rem 0;
    }

    div {
        display: flex;
        justify-content: space-between;
        width: 5rem;

    }
}